/* 
  -----------------------------------
  Pop Menu Magic 3
  by Project Seven Development
  www.projectseven.com
  Style Theme: 14 - Pipes
  -----------------------------------
*/


.p7PM3-14 {
	-webkit-transform-style: preserve-3d;
	font-family: "Segoe UI", "Gill Sans", Optima, sans-serif;
	font-size: 1.1em;
	line-height: 1;
	margin: 0px auto;
}
.p7PM3-14.horiz ul div {
	padding-top: 16px;
	background-color: rgba(255,255,255,0);
}
.p7PM3-14.horiz ul ul div {
	padding-top: 0px;
}

.p7PM3-14.open_up {
	border-top: 1px solid #000;
	border-bottom: none;
}

.p7PM3-14.horiz {
	padding: 0px 0px;
}

.pmm3-toolbar {
	display: none;
}

.p7PM3-14 a img {
	border: none;
	vertical-align: bottom;
}

.p7PM3-14.menu-centered {
	text-align: center;
}
.p7PM3-14.menu-right {
	text-align: right;
}

.p7PM3-14:after {
	content: "\0020";
	clear: both;
	font-size: 0px;
	line-height: 0;
	display: inline;
	height: 0px;
}

.p7PM3-14 ul {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	vertical-align: bottom;
}
.p7PM3-14 ul li {
	list-style-type: none;
	float: left;
	position: relative;
	margin-right: 0px;
	padding: 0px;
}
/*PIPE CHARACTERS*/
.p7PM3-14 ul li {
	border-left: 1px solid #000;
}
.p7PM3-14 ul ul li,
.p7PM3-14 ul li.pm3first {
	border-left-color: transparent;
}
.p7PM3-14 ul ul li {
	border-left: none;
}
/*End: PIPE CHARACTERS*/

.p7PM3-14 ul li.pm3last {
	margin-right: 0px;
}

.p7PM3-14 ul li a {
	color: #000;
	padding: 0px 18px;
	text-decoration: none;
	display: block;
	background-repeat: no-repeat !important;
	background-position: left center !important;
}
.p7PM3-14.horiz .root_1 a.pm3first {

}
.p7PM3-14.rounded ul li a {
	border-radius: 5px;
}
.p7PM3-14.rounded ul ul li a {
	border-radius: 0px;
}
.p7PM3-14 a.trig_closed {
	background-image: url(img/pmm3-right-dark.gif);
}
.p7PM3-14.vert a.trig_open {
	background-image: url(img/pmm3-right-medium.gif);
}
.p7PM3-14.vert a.trig_closed:hover,
.p7PM3-14.vert a.trig_open {
	background-image: url(img/pmm3-down-medium.gif);
}
.p7PM3-14 ul ul a.trig_closed {
	background-image: url(img/pmm3-right-dark.gif);
}

.p7PM3-14 a.trig_open,
.p7PM3-14 ul li a.pm3-link:hover,
.p7PM3-14 ul li a:hover {
	background-image: url(img/pmm3-down-dark.gif);
	outline: none;
	color: #FFF;
	text-decoration: underline;
}
.p7PM3-14 ul ul a.trig_open,
.p7PM3-14 ul ul li a.pm3-link:hover,
.p7PM3-14 ul ul li a:hover {
	box-shadow: none;
}
.p7PM3-14 ul ul a.trig_open,
.p7PM3-14 ul ul a.trig_open:hover
.p7PM3-14 ul ul a.trig_closed,
.p7PM3-14 ul ul a.trig_closed:hover {
	background-image: url(img/pmm3-down-medium.gif);
}


.p7PM3-14 ul ul li a:hover, .p7PM3-14 ul ul li a.trig_open {
	background-color: #222;
	color: #CCC;
}

.p7PM3-14 ul li a.pm3-link, .p7PM3-14 ul li a.pm3-link:hover {
	background-image: none;
}

.p7PM3-14 ul ul {
	background: linear-gradient(90deg, rgba(255,134,50,1), rgba(218,88,0,1));
	background-color: #FF6600;
	display: block;
	text-align: left;
	width: 200px;
}
.p7PM3-14.transparent ul ul {
	background: linear-gradient(90deg, rgba(255,134,50,.9), rgba(218,88,0,.9));
}

.p7PM3-14.shadows ul ul {
	box-shadow: 10px 10px 30px rgba(0,0,0,.5);
}
.p7PM3-14 ul ul div {
	z-index: 10;
}
.p7PM3-14.auto-subs ul ul {
	width: auto;
}
.p7PM3-14.auto-subs ul ul li a {
	white-space: nowrap;
}
.p7PM3-14 ul ul li {
	position: relative;
	float: none;
	margin: 0px;
	padding: 0px;
}
.p7PM3-14 ul ul li a {
	border: none;
	box-shadow: none;
	background-color: transparent;
	padding: 10px 18px;
	color: #000;
	font-size: 0.9em;
	text-decoration: none !important;
}
.p7PM3-14 ul ul li a.pm3-link:hover {
	background-color: #222;
	color: #EEE;
	box-shadow: none !important;
}

.p7PM3-14 ul ul li:last-child a {}

/*ROUNDED CORNERS OPTION - Sub-Center Bias*/
.p7PM3-14.rounded ul ul {
	border-radius: 5px;
}
.p7PM3-14.vert.rounded ul ul,
.p7PM3-14.rounded ul ul ul {
	border-radius: 5px;
}

.p7PM3-14.rounded ul a.root_trig,
.p7PM3-14.rounded ul a.root_link,
.p7PM3-14.vert.rounded ul a.root_trig,
.p7PM3-14.vert.rounded ul a.root_link {
	border-radius: 5px;
}

.p7PM3-14.rounded ul ul a.pm3first,
.p7PM3-14.vert.rounded ul ul a.pm3first,
.p7PM3-14.rounded ul ul ul .pm3first.pmm3-title-bar,
.p7PM3-14.vert.rounded ul ul .pm3first.pmm3-title-bar {
	border-radius: 5px 5px 0px 0px;
}
.p7PM3-14.rounded ul ul a.pm3last,
.p7PM3-14.rounded ul ul .pm3last.pmm3-title-bar {
	border-radius: 0px 0px 5px 5px;
}
.p7PM3-14.rounded ul ul a.pm3first.pm3last {
	border-radius: 5px;
}

.p7PM3-14.rounded ul a.root_trig.trig_up {
	border-radius: 5px 5px 5px 5px;
}
.p7PM3-14.rounded li.trig_up div {
	padding-bottom: 10px;
}
.p7PM3-14.rounded .trig_up a.pm3first {
	border-radius: 5px 5px 5px 5px !important;
}
.p7PM3-14.rounded ul li.trig_up ul {
	border-radius: 5px 5px 5px 5px;
}
.p7PM3-14.rounded .trig_up .pm3first.pmm3-title-bar {
	border-radius: 5px 5px 0px 0px !important;
}
.p7PM3-14.rounded .trig_up .pm3last.pmm3-title-bar {
	border-radius: 0px 0px 5px 5px !important;
}

/*DISPLAY AS TITLE ONLY*/
.p7PM3-14 .pmm3-title-bar {
	padding: 12px 18px;
	color: #DDD;
	background-color: #666;
}
.p7PM3-14.auto-subs ul ul .pmm3-title-bar {
	white-space: nowrap;
}

/*IMAGE LINKS*/
.p7PM3-14 .p7PM3_img {
	border: none;
	padding: 0px;
	text-align: center;
	background: none !important;
}
.p7PM3-14 .p7PM3_img img {
	border: none;
	width: auto !important;
	height: auto !important;
	max-width: 100%;
	vertical-align: bottom;
}
/*VERTICAL MODE */
.p7PM3-14.vert {}
.p7PM3-14.vert.shadows {}
.p7PM3-14.vert.rounded {
	border-radius: 7px;
}
.p7PM3-14.vert ul {
	display: block;
}
.p7PM3-14.vert ul li {
	float: none;
	padding: 0px;
	position: relative;
	margin: 0px 0px 3px 0px;
}
.p7PM3-14.vert ul li {
	border-left: none;
}
.p7PM3-14.vert ul li.pm3last {
	margin: 0px 0px 0px 0px;
}
.p7PM3-14.vert ul li a {
	border: 1px solid;
	border-color: #000;
	padding: 8px 18px;
	color: #000;
	text-decoration: none;
}
.p7PM3-14.vert ul ul li a,
.p7PM3-14.vert.shadows ul ul li a {
	color: #000;
	border: none !important;
}
.p7PM3-14.vert ul li a:hover,
.p7PM3-14.vert ul li a.trig_open {
	background-color: #222 !important;
	color: #DDD !important;
	text-decoration: none;
}
.p7PM3-14.vert ul ul li {
	padding: 0px;
	margin: 0px;
}
/*CURRENT MARK */
.p7PM3-14 ul li a.current_mark {
	text-decoration: underline;

}
.p7PM3-14 ul ul li a.current_mark {
	color: #FFF;
	font-weight: bold;
}
.p7PM3-14.vert ul li a.current_mark {
	font-weight: bold;
	text-decoration: none;
}

/*
NO-SCRIPT RULES
The following rules enable your menu to work even when javascript is disabled in the browser
*/
.p7PM3-14.p7PM3noscript {
	position: relative;
}

.p7PM3-14.p7PM3noscript ul ul {
	position: absolute;
	display: none;
	top: 100%;
}
.p7PM3-14.p7PM3noscript ul ul ul {
	display: none;
	top: 0px;
	left: 100%;
}
.p7PM3-14.vert.p7PM3noscript ul ul {
	top: 0px;
	left: 100%;
}
.p7PM3-14.p7PM3noscript li:hover ul {
	display: block;
}
.p7PM3-14.p7PM3noscript li:hover ul ul, .p7PM3-14.p7PM3noscript li:hover ul ul ul, .p7PM3-14.p7PM3noscript li:hover ul ul ul ul, .p7PM3-14.p7PM3noscript li:hover ul ul ul ul ul, .p7PM3-14.p7PM3noscript li:hover ul ul ul ul ul ul {
	display: none;
}
.p7PM3-14.p7PM3noscript li li:hover ul, .p7PM3-14.p7PM3noscript li li li:hover ul, .p7PM3-14.p7PM3noscript li li li li:hover ul, .p7PM3-14.p7PM3noscript li li li li li:hover ul, .p7PM3-14.p7PM3noscript li li li li li li:hover ul {
	display: block;
}

/*BREADCRUMBS*/
.p7PM3-14_crumbs.centered {
	text-align: center;
}
.p7PM3-14_crumbs.right {
	text-align: right;
}
.p7PM3-14_crumbs ul {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-size: 1em;
	display: inline-block;
}
.p7PM3-14_crumbs li {
	list-style-type: none;
	display: block;
	float: left;
	margin-right: .25em;
}
.p7PM3-14_crumbs a {
	text-decoration: none;
	color: #000;
}
.p7PM3-14_crumbs a:hover {
	text-decoration: underline;
}
.p7PM3-14_crumbs li:last-child {
	margin-right: 0px;
	font-weight: bold;
}
.p7PM3-14_crumbs.thick-arrow li:after {
    content: "\0020 \0020 \27A7";
}
.p7PM3-14_crumbs.thin-arrow li:after {
    content: "\0020 \0020 \279F";
}
.p7PM3-14_crumbs.open-arrow li:after {
    content: "\0020 \0020 \21E8";
}
.p7PM3-14_crumbs.triangle-dots li:after {
    content: "\0020 \0020 \2234";
}
.p7PM3-14_crumbs.double-colon li:after {
   content: "\0020 \0020 \2237";
}
.p7PM3-14_crumbs.pipe li:after {
   content: "\0020 \0020 |";
}
.p7PM3-14_crumbs.dash li:after {
   content: "\0020 \0020 -";
}
.p7PM3-14_crumbs li:last-child:after {
	content: "\0020";
}

/*END BREADCRUMB RULES*/

 @media only screen and (min-width: 0px) and (max-width: 700px) {

.p7PM3-14.responsive {
	text-align: left !important;
	padding: 0px !important;
	border: none !important;
	margin: 0px !important;
}
.p7PM3-14.responsive.horiz ul div {
	padding-top: 0px;
}
.p7PM3-14.responsive ul li {
	border-left: none;
}
.menutop-wrapper {
	padding: 0px !important;
}
.p7PM3-14.responsive:after {
	display: none;
}
.p7PM3-14.responsive:after {
	display: none;
}
.p7PM3-14.responsive .pmm3-toolbar {
	display: block;
	background-color: #222;
	padding: 10px;
	text-align: right;
}
.p7PM3-14.responsive .pmm3-toolbar a {
	font-size: 2em;
	font-weight: bold;
	color: #999;
	text-decoration: none;
}
.p7PM3-14.responsive .pmm3-toolbar a:hover {
	color: #FFF;
}
.p7PM3-14.responsive .toggle-text.closed a:before {
	content: "Show Menu \0020";
	font-size: .5em;
}
.p7PM3-14.responsive .toggle-text.opened a:before {
	content: "Hide Menu \0020";
	font-size: .5em;
}
.p7PM3-14.responsive .pmm3-toolbar {
	display: block;
	background-color: #222;
	padding: 10px;
	cursor: pointer;
}
.p7PM3-14.responsive {
	text-align: left !important;
	padding: 0px !important;
	border: none !important;
}
.p7PM3-14.responsive.vert ul {
	margin-top: 0px;
}
.p7PM3-14.responsive ul {
	display: block;
	padding: 0px;
}
.p7PM3-14.responsive ul li {
	float: none;
	margin: 0px !important;
	padding: 0px;
}

.p7PM3-14.responsive ul li a {
	border: none !important;
	padding: 10px 16px;
}
.p7PM3-14.responsive ul ul {
	position: static !important;
	width: auto;
	padding: 0px;
}
.p7PM3-14.responsive ul ul li {
	padding: 0px;
}
.p7PM3-14.responsive .pmm3-title-bar {
	padding: 12px 18px;
}
.p7PM3-14.responsive ul ul a,
.p7PM3-14.responsive ul ul .pmm3-title-bar {
	padding-left: 24px;
}
.p7PM3-14.responsive ul ul ul a,
.p7PM3-14.responsive ul ul ul .pmm3-title-bar {
	padding-left: 32px;
}
.p7PM3-14.responsive ul.closed {
	display: none;
}
.p7PM3-14.responsive ul.opened {
	display: block;
}
.p7PM3-14.responsive.rounded,
.p7PM3-14.responsive.rounded * {
	border-radius: 0px !important;
}
.p7PM3-14.responsive.shadows * {
	box-shadow: none !important;
}
.p7PM3-14_crumbs {
	display: none;
}
.p7PM3-14_crumbs.show-mobile {
	display: block;
}

.p7PM3.responsive.select .pmm3-select-wrapper {
	display: block;
	padding: 10px;
}
.p7PM3.responsive.select select {
	width: 100%;
	font-size: 1em;
	padding: 4px;
}
.p7PM3.responsive.select .pmm3-toolbar {
	display: none;
}
.p7PM3.responsive.select ul {
	display: none;
}

/*Workaround for very old Android devices*/
.p7PM3-14 div {
	left: 0px !important;
	top: 0px !important;
}
/*End old Android workaround*/
}
